<div class="container">
    <div class="row mt-2">
        <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
            <div class="col-md-6 offset-3">
                <div class="mb-3">
                    <label for="nameSurname" class="form-label">Ad Soyad</label>
                    <input formControlName="nameSurname" type="text" class="form-control" id="nameSurname"
                        [ngClass]="{'is-invalid':submited && component.nameSurname.errors}">
                    <small class="form-text text-muted errorMessage"
                        *ngIf="submited && component['nameSurname']?.errors?.required">Adınızı giriniz.</small>
                    <small class="form-text text-muted errorMessage"
                        *ngIf="submited && (component.nameSurname?.errors?.maxlength || component?.nameSurname?.errors?.minlength)">Adınızı
                        3 ile 50 karakter arasında giriniz.</small>
                </div>
                <div class="mb-3">
                    <label for="userName" class="form-label">Kullanıcı Adı</label>
                    <input formControlName="userName" type="text" class="form-control" id="userName"
                        [ngClass]="{'is-invalid':submited && component.userName.errors}">
                    <small class="form-text text-muted errorMessage"
                        *ngIf="submited && component['userName']?.errors?.required">Kullanıcı adınızı
                        giriniz.</small>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input formControlName="email" type="email" class="form-control" id="email"
                        placeholder="name@example.com" [ngClass]="{'is-invalid':submited && component.email.errors}">
                    <small class="form-text text-muted errorMessage"
                        *ngIf="submited && component['email']?.errors?.required">Email adresinizi giriniz.</small>
                    <small class="form-text text-muted errorMessage"
                        *ngIf="submited && component['email']?.errors?.email">Email adresini doğru formatta
                        giriniz.</small>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Şifre</label>
                    <input formControlName="password" type="password" class="form-control" id="password"
                        [ngClass]="{'is-invalid':submited && component.password.errors}">
                    <small class="form-text text-muted errorMessage"
                        *ngIf="submited && component['password']?.errors?.required">Şifrenizi giriniz.</small>
                </div>
                <div class="mb-3">
                    <label for="passwordConfirm" class="form-label">Şifre Tekrarı</label>
                    <input formControlName="passwordConfirm" type="password" class="form-control" id="passwordConfirm"
                        [ngClass]="{'is-invalid':submited && component.passwordConfirm.errors}">
                    <small class="form-text text-muted errorMessage"
                        *ngIf="submited && component['passwordConfirm']?.errors?.required">Şifre tekrarınızı
                        giriniz.</small>
                    <small class="form-text text-muted errorMessage" *ngIf="frm.hasError('notSame')">Şifreler
                        eşleşmiyor.</small>
                </div>
                <div class="text-end">
                    <button class="btn btn-primary">Kayıt Ol</button>
                </div>
            </div>
        </form>
    </div>
</div>