table {
    width: 100%;
  }

  .edit-container{
    margin-left: auto;
  }
  .delete-container{
    padding-right: 0;
  }
  .cdk-column-delete{
    text-align: center;

    padding-right: 0px !important;
  }