.product-card {
    max-width: 250px;
  }
  
  .product-header-image{
    aspect-ratio: 16 / 9;
  }
  .product-image{
    aspect-ratio: 16 / 9;
  }
  .delete-button{
    background-color: chocolate;
    color: wheat;
  }